<div>
  <table>
    <tr>
      <td> Start Time: </td>
      <td><%= run_summary.start_time %></td>
    </tr>
    <tr>
      <td> Time: </td>
      <td><%= run_summary.total_time %></td>
    </tr>
    <tr>
      <td> Distance: </td>
      <td><%= run_summary.total_distance %></td>
    </tr>
  </table>
</div>
