<div class="flex flex-col mx-auto w-full v-full" >
  <div class="justify-self-stretch w-full">
    <%= render(RunSummaryChartComponent.new) %>
  </div>
  <%= render(RunSummaryComponent.new run_summary:@run_summaries[0]) %>
</div>
