<div class="flex flex-row mx-auto w-full" >
  <div class="flex flex-col w-1/4 h-screen overflow-y-auto">
    <%= render(RunSummaryComponent.with_collection @run_summaries) %>
  </div>
  <div class="justify-self-stretch w-full">
    <%= render(RunSummaryChartComponent.new) %>
  </div>
</div>
