<ul class="bg-blue-200 flex flex-row px-96 py-2 w-full justify-between">
  <li >
    <%= link_to  "GO", :run%>
  </li>
  <li>
    <%= link_to  "Enter Summary", :new_run_summary %>
  </li>
  <li>
    <%= link_to  "Explore", :run_summaries %>
  </li>
</ul>
