<div class="run-summary m-5 p-6 w-4/5 mx-auto bg-white rounded-xl shadow-lg">
  <div class="text-xl font-bold">
    <%= total_distance %>
  </div>
  <div class="total-time">
    <%= total_time %>
  </div>
  <div class="speed">
    <%= speed %>
  </div>
  <div class="distance-record">
    <span class="label">Mile</span><span class="value"><%= fastest_mile %></span>
  </div>
</div>
