<div class="run-summary">
  <div class="total-distance">
    <%= total_distance %>
  </div>
  <div class="total-time">
    <%= total_time %>
  </div>
  <div class="speed">
    <%= speed %>
  </div>
  <div class="distance-record">
    <span class="label">Mile</span><span class="value"><%= fastest_mile %></span>
  </div>
</div>
