<div data-controller="run-summary-chart">
  <%= content_tag :div, 'data-run-summary-chart-target' => "data", data: {summaries: data} do %>
  <% end %>
  <canvas data-run-summary-chart-target="chart" class=""/>
</div>
