<div class="m-5 p-6 mx-auto bg-white rounded-xl shadow-lg flex flex-row justify-between w-full h-96"
     id="summary-card"
     data-controller="run-summary"
     data-summaries-index-controller-target="card"
     data-action="set-run-summary->run-summary#setRunSummary">

  <div class="flex flex-col m-3 justify-between items-start w-1/6">
    <h2 data-run-summary-target="startTime">--</h2>
    <p class="text-xl" >
      <span class="text-3xl" data-run-summary-target="distance">--</span> miles
    </p>
    <p class="text-xl">
      <span class="text-3xl" data-run-summary-target="calories"> --</span> cal
    </p>
    <p class="text-2xl" data-run-summary-target="totalTime">
    --
    </p>
    <p class="text-md">
    <span class="text-2xl" data-run-summary-target="speed">--</span> mph
    </p>
      <input data-run-summary-target="id" type="hidden" value="--">
      <button data-action="click->run-summary#delete_summary"
              class="btn-primary">
              Delete
      </button>
  </div>
  <div data-run-summary-target="intervalDataTarget" class="w-5/6">
    <canvas data-run-summary-target="intervalDataChart" class=""/>
  </div>
</div>
