  <h1 id="title"><%= title %></h1>
  <div id="live-run-view" >
    <div class="sidebar">
      <ul>
        <li/>
      </ul>
    </div>
    <div id="total_time" class="run-data">0:00</div>
    <div id="total_distance" class="run-data">0</div>
  </div>
